@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
  overflow-wrap: break-word;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-text-color);
}

.header {
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header h1 {
  margin-bottom: 3%;
  color: var(--text-color);
}

.header form {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header input {
  flex-grow: 2;
}
.header button {
  flex-grow: 1;
}

.header input,
.header button {
  padding: 2%;
  border: none;
}

.errormsg {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  margin: 20px;
  border: 5px solid var(--dark-primary-color);
  background-color: white;
  padding: 5%;
  font-size: 1em;
  text-align: center;
}

.recipeList {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.credit {
  margin: 20px;
  border: 5px solid var(--dark-primary-color);
  background-color: white;
  padding: 5%;
  font-size: 1em;
  text-align: center;
  color: var(--primary-text-color);
}

.credit a {
  text-decoration: none;
  transition: all 500ms ease;
  color: var(--dark-primary-color);
}

.credit a:active,
.credit a:visited {
  color: var(--primary-color);
}

.credit a:hover {
  color: var(--dark-primary-color);
  text-decoration: underline;
  transition: all 500ms ease;
}

@media (max-device-width: 700px) {
  .header {
    font-size: 3em;
    padding: 20% 10%;
  }

  .header form {
    width: 90%;
  }

  .header input,
  .header button {
    font-size: 1em;
  }

  .errormsg {
    font-size: 3em;
    width: 80vw;
  }

  .recipeList {
    width: 100%;
  }
}
